<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>注册 - layuiAdmin</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../static/lib/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../static/css/admin.css" media="all">
	<link rel="stylesheet" href="../static/css/login.css" media="all">
	<script src="../static/lib/layui/layui.js"></script>
</head>
<body>


<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
	<div class="layadmin-user-login-main">
		<div class="layadmin-user-login-box layadmin-user-login-header">
			<h2>后台管理系统</h2>
			<p>后台管理系统注册页面</p>
		</div>
		<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
			<!--<div class="layui-form-item">-->
				<!--<label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="LAY-user-login-cellphone"></label>-->
				<!--<input type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="手机" class="layui-input">-->
			<!--</div>-->
			<!--<div class="layui-form-item">-->
				<!--<div class="layui-row">-->
					<!--<div class="layui-col-xs7">-->
						<!--<label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>-->
						<!--<input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="验证码" class="layui-input">-->
					<!--</div>-->
					<!--<div class="layui-col-xs5">-->
						<!--<div style="margin-left: 10px;">-->
							<!--<button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="LAY-user-getsmscode">获取验证码</button>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<form>
				<div class="layui-form-item">
					<label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
					<input   type="text" id="L_username" name="username" required="" placeholder="用户名" lay-verify="username" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-item">
					<label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
					<input type="password" id="L_pass" name="password" required="" placeholder="密码  2-12位" lay-verify="pass" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-item">
					<label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
					<input type="password" id="L_repass" required="" placeholder="确认密码" lay-verify="repass" autocomplete="off" class="layui-input" />
				</div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-group"></label>
                    <select name="roleId" lay-verify="roleId" required="" lay-search>
                        <option value="">请选择角色</option>
                        <option value="1">管理员</option>
                        <option value="2">普通用户</option>
                    </select>
                    <!--<select name="role" lay-verify="" required="" th:each="role:${roles}">-->
                        <!--<option value="">请选择角色</option>-->
                        <!--<option th:value="${role.roleId}">1</option>-->
                    <!--</select>-->
                </div>
				<div class="layui-form-item">
					<button class="layui-btn layui-btn-fluid" lay-filter="save" lay-submit="">注 册</button>
				</div>
			</form>
			<div class="layui-trans layui-form-item layadmin-user-login-other">
				<a href="/" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>
			</div>
		</div>
	</div>

</div>


<script>
    layui.use(['form','layer'], function(){
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;

        //自定义验证规则
        form.verify({
            username: function(value){
                if(value.length < 2){
                    return '昵称至少得2个字符啊';
                }
            }
            ,pass: [/(.+){2,12}$/, '密码必须2到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
            ,roleId:function(value) {
                if (value == "" || value == null) {
                    return '请选择角色';
                }
            }
        });

        //监听提交
        form.on('submit(save)', function(data){
            //发异步，把数据提交给php
            $.ajax({
                type:"post",
                url:"/reg",
                data:data.field,
                success:function (result) {
                    if (result == "success"){
                        layer.msg("注册成功");
                    }else if (result == "echo") {
                        layer.msg("用户名重复");
                    }else if (result == "error"){
                        layer.msg("添加失败");
                    }

                }
            });
            return false;
        });

    });
</script>
</body>
</html>